<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=title%> </title>
  </head>
  <body>
    <h1> <%=title%> </h1>
    <form action="/posts/postupdate" method="post">
      <input type="hidden" name="id" value="<%=posts._id%>">
      <label for="ptitle">Title</label>
      <input type="text" name="ptitle" id="ptitle" value=" <%=posts.title%>"><p>
      <label for="pcon">Content</label>
      <textarea name="pcon" rows="8" cols="80"><%=posts.content%></textarea><p>
      <label for="pauthor">Author</label>
      <input type="text" name="pauthor" id="pauthor" value=" <%=posts.author%>"><p>
      <input type="submit" name="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
